<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset={{ _charset }}"/>
    <meta name="robots" content="noindex,nofollow"/>
    <title>{% block title %}{% endblock %}</title>
    <link href="{{ asset('bundles/framework/css/structure.css') }}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{{ asset('bundles/framework/css/body.css') }}" rel="stylesheet" type="text/css" media="all"/>
    {% block head %}{% endblock %}
</head>
<body>
<div id="pageContent" class="container">
    <div class="header clear-fix">
        <div class="header-logo">
            <img src="{{ asset('img/res_logo.png') }}"
                 alt="Roommate Expense Tracker" style="max-width: 100%;"/>
        </div>
    </div>
    {% block navbar %}
        <nav class="navbar navbar-default" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            {% if app.debug %}
            {% endif %}
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li {% if app.request.get('_route') == 'dominick_roommate_homepage' %}class="active"{% else %}{% endif %}>
                        <a href="{{ path('dominick_roommate_homepage') }}">Home</a></li>
                    {% if app.user %}
                        <li><a href="{{ path('account_logout') }}">Logout</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Edit account</a></li>
                                <li><a href="{{ path('apartment_register') }}">Create new apartment</a></li>
                                <li><a href="{{ path('apartment_lookup') }}">Lookup existing apartments</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Expenses <b
                                        class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('expense_new') }}">New expense</a></li>
                                <li><a href="{{ path('expense_browse') }}">Browse expenses</a></li>
                                <li><a href="{{ path('payment_new') }}">Make a payment</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li {% if app.request.get('_route') == 'account_login' %}class="active"{% else %}{% endif %}><a
                                    href="{{ path('account_login') }}">Login</a></li>
                        <li {% if app.request.get('_route') == 'account_register' %}class="active"{% else %}{% endif %}>
                            <a href="{{ path('account_register') }}">Sign Up</a></li>
                    {% endif %}

                </ul>
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
                <p class="navbar-text pull-right">{% if app.user %}
                        Signed in as {{ app.user.fullname }}.
                    {% else %}
                        Welcome.
                    {% endif %}</p>

            </div>
            <!-- /.navbar-collapse -->
        </nav>
    {% endblock %}

    {% block body %}{% endblock %}

</div>
<br>
{% block footer %}
    <div id="footer" class="container">
        <div class="row">
            <div class="col-md-12">
                Roommate Expense Tracker - &copy; Dominick Peluso 2013 - <a href="https://github.com/dominickp/p2.kaomoj.in" target="_blank">GitHub</a>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>
