{% extends "DominickRoommateBundle::layout.html.twig" %}

{% block title "Roommate Expense Tracker" %}

{% block content_header '' %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            <h3>

                {{ apartment.nickname }}
                <p>
                    <small>{{ apartment.address1 }}, {{ apartment.address2 }}, {{ apartment.city }}
                        , {{ apartment.state }} {{ apartment.zip }}</small>
                </p>
            </h3>


            <hr>
            <div class="row">
                <div class="col-sm-4 text-center">
                    <strong>Your Balance</strong>
                    <p><span class="lead">${{ totals.myBalance|number_format(2, '.', ',') }}</span></p>
                </div>
                <div class="col-sm-4 text-center">
                    <strong>Your Expenses</strong>
                    <p>${{ totals.myExpenseTotal|number_format(2, '.', ',') }}</p>
                    <strong>Your Payments</strong>
                    <p>${{ totals.myPaymentTotal|number_format(2, '.', ',') }}</p>
                </div>
                <div class="col-sm-4 text-center">
                    <strong>Per Roommate Expenses</strong>
                    <p>${{ totals.roommateCost|number_format(2, '.', ',') }}</p>
                    <strong>Total Expenses</strong>
                    <p>${{ totals.cost|number_format(2, '.', ',') }}</p>
                </div>
            </div>
            <hr>
            <p>If your balance is positive, then you need to be paid. If its negative, you need to pay other roommates or register a new expense to lower it. The payment controller will have to pull in the balances for all other roommates, then let determine which you would like to pay to bring down your balance until its 0 or positive.</p>



            <a class="btn btn-primary" href="{{ path('expense_new') }}">Create a new expense</a>
            <a class="btn btn-primary" href="{{ path('expense_browse') }}">Browse Expenses</a>
            <a class="btn btn-primary" href="{{ path('payment_new') }}">Make a payment</a>

            <hr>
            {#
            <p>Apartment total: {{ totals.cost }}</p>
            <p>Roommate average (target, apartmentTotalExpenses / numOfRoommates): {{ totals.roommateCost }}</p>
            <p>Your total paid (sum of expenses + payments with my apartment id/user): $400</p>
            <p>Your balance (totalPaid - roommateAverage): +$150</p>
            #}

        </div>
        <div class="col-md-4">
            <h3>Roommates</h3>
            {% for roommate in roommates %}
                <ul class="list-unstyled">
                    <li>{{ roommate.fullname }}</li>
                </ul>
            {% endfor %}
        </div>

    </div>
{% endblock %}
