{% extends "DominickRoommateBundle::layout.html.twig" %}

{% block title "Roommate Expense Tracker" %}

{% block content_header '' %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            <h3>

                {{ apartment.nickname }}
                <p>
                    <small>{{ apartment.address1 }}, {% if  apartment.address2  %}{{ apartment.address2 }}, {% endif %}{{ apartment.city }}
                        , {{ apartment.state }} {{ apartment.zip }}</small>
                </p>
            </h3>


            <hr>
            <div class="row">
                <div class="col-sm-4 text-center">
                    <strong>Your Balance</strong>
                    <p>
                        <span class="balance {% if totals.balanceNegative == true %}negative{% endif %}">
                            ${% if totals.balanceNegative != true %}+{% endif %}{{ totals.myBalance|number_format(2, '.', ',') }}
                        </span>
                    </p>
                </div>
                <div class="col-sm-4 text-center">
                    <strong>Your Expenses</strong>
                    <p>${{ totals.myExpenseTotal|number_format(2, '.', ',') }}</p>
                    <strong>Your Payments</strong>
                    <p>${{ totals.myPaymentTotal|number_format(2, '.', ',') }}</p>
                </div>
                <div class="col-sm-4 text-center">
                    <strong>Per Roommate Expenses</strong>
                    <p>${{ totals.roommateCost|number_format(2, '.', ',') }}</p>
                    <strong>Total Expenses</strong>
                    <p>${{ totals.cost|number_format(2, '.', ',') }}</p>
                </div>
            </div>
            <hr>
            <p>
                If your balance is more than $0.00, you should prompt your roommates to issue you a payment. If your balance is below $0.00, you should make a payment to one or more of your roommates to balance things out. Alternatively, you could register a new expense which is another way to credit your balance.
            </p>

            <ul class="nav nav-pills">
                <li><a href="{{ path('expense_new') }}">Create a new expense</a></li>
                <li><a href="{{ path('payment_new') }}">Make a payment</a></li>
            </ul>

        </div>
        <div class="col-md-3 col-md-offset-1">
            <h3>{{ totals.roommates }} Roommates</h3>
            {% for roommate in roommates %}
                <ul class="list-unstyled">
                    <li>{{ roommate.fullname }}</li>
                </ul>
            {% endfor %}
        </div>

    </div>
{% endblock %}
