{% extends "DominickRoommateBundle::layout.html.twig" %}

{% block title "Roommate Expense Tracker" %}

{% block content_header '' %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h2>Welcome to the Roommate Expense Tracker</h2>
            <p>This web application was made to make it easy to keep track of shared expenses with your roommates. Using this application, you will be able to register an apartment, add roommates, view your monthly expenses, add new one time or recurring expenses, log new payments made to other roommates, and see a tally of how much you owe each of your roommates and how much they owe.</p>
        </div>
    </div>
    <hr>
    <div class="row" id="teaser">
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="{{ asset('img/teaser_newexpense.png') }}" target="_blank"><img src="{{ asset('img/teaser_newexpense.png') }}" alt="New expenses"></a>
                <div class="caption">
                    <h3><span class="glyphicon glyphicon-shopping-cart"></span> Track your expenses</h3>
                    <p>Add a new bill, receipt, or shared expense. The total will be divided by the number of registered roommates and will be added as a credit to your balance. Expenses are also categorized for reporting!</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="{{ asset('img/teaser_newpayment.png') }}" target="_blank"><img src="{{ asset('img/teaser_newpayment.png') }}" alt="New payments"></a>
                <div class="caption">
                    <h3><span class="glyphicon glyphicon-usd"></span> Log your payments</h3>
                    <p>It's easy to remember who paid who and when. This site will tell you which one of your roommates is owed money and how much you should be paying to each. You can log a new payment, mark the payment method, and even add a reference memo.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="{{ asset('img/teaser_balance.png') }}" target="_blank"><img src="{{ asset('img/teaser_balance.png') }}" alt="Balance"></a>
                <div class="caption">
                    <h3><span class="glyphicon glyphicon-eye-open"></span> View your balance</h3>
                    <p>The balance calculation ties together your expenses, payments, and roommate debt all into one number so you can see how much you or your roommates owe or are owed.</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
