{% extends "DominickRoommateBundle::layout.html.twig" %}



{% block title "Roommate Expense Tracker" %}

{% block content_header '' %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            <h3>Register an account</h3>
            <br>
            {{ form_start(form) }}
            {{ form_errors(form) }}

            {{ form_row(form.name, {'attr': {'class': 'form-control'}}) }}
            {{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}
            {{ form_row(form.password.password, {'attr': {'class': 'form-control'}}) }}
            {{ form_row(form.password.confirm, {'attr': {'class': 'form-control'}}) }}
            <br>
            {{ form_row(form.register, {'attr': {'class': 'btn btn-lg btn-primary'}}) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
