{% extends "DominickRoommateBundle::layout.html.twig" %}

{% block title "Make A Payment" %}

{% block content_header '' %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            <h3>Edit a Payment</h3>
            <p>You can use this page to register a payment you made to one of your roommates. This way, you can keep the balances up to date with what people owe.</p>
            {{ form_start(form) }}
            {{ form_errors(form) }}
            <p><strong>From:</strong> {{ payer.getFullname }}</p>
            {{ form_label(form.memo, 'Payment Memo') }}
            {{ form_errors(form.memo) }}
            {{ form_widget(form.memo, {'attr': {'class': 'form-control' }}) }}

            {{ form_label(form.amount, 'Amount') }}
            {{ form_errors(form.amount) }}
            {{ form_widget(form.amount, {'attr': {'class': 'form-control' }}) }}

            {{ form_label(form.recipient, 'Recipient') }}
            {{ form_errors(form.recipient) }}
            {{ form_widget(form.recipient, {'attr': {'class': 'form-control' }}) }}

            {{ form_label(form.method, 'Payment Method') }}
            {{ form_errors(form.method) }}
            {{ form_widget(form.method, {'attr': {'class': 'form-control' }}) }}

            <br>

            <p>{{ form_widget(form.Update, {'attr': {'class': 'btn btn-primary' }}) }}</p>
            {{ form_end(form) }}

        </div>
        <div class="col-md-8">
            <h3>Permanently Delete</h3>
            <p>Alternatively, you can delete this payment by clicking the button below.</p>
            <p><a class="btn btn-danger btn-xs" href="{{ path('payment_delete', {'id':payment.getId}) }}"><span class="glyphicon glyphicon-remove"></span> Delete this payment</a></p>
        </div>
    </div>
{% endblock %}

