{% extends "DominickRoommateBundle::layout.html.twig" %}

{% block title "Register an Apartment" %}

{% block content_header '' %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            <h3>Create a new apartment</h3>

            <p>If you are the first roommate to sign up, you'll have to register the apartment to continue. Otherwise, you can join an apartment someone has already created.</p>
            {{ form_start(form) }}
            {{ form_errors(form) }}
            <div class="row">
                <div class="col-xs-8">
                    {{ form_label(form.nickname, 'Apartment Nick Name') }}
                    {{ form_errors(form.nickname) }}
                    {{ form_widget(form.nickname, {'attr': {'class': 'form-control', 'placeholder': 'The Bat Cave' }}) }}
                </div>
                <div class="col-xs-4">
                    {{ form_label(form.pin, 'PIN*') }}
                    {{ form_errors(form.pin) }}
                    {{ form_widget(form.pin, {'attr': {'class': 'form-control', 'placeholder': '1337' }}) }}
                </div>
            </div>

            {{ form_label(form.address1, 'Address 1') }}
            {{ form_errors(form.address1) }}
            {{ form_widget(form.address1, {'attr': {'class': 'form-control', 'placeholder': '1007 Mountain Drive' }}) }}

            {{ form_label(form.address2, 'Address 2') }}
            {{ form_errors(form.address2) }}
            {{ form_widget(form.address2, {'attr': {'class': 'form-control', 'placeholder': 'Unit #3' }}) }}
            <div class="row">
                <div class="col-xs-6">
                    {{ form_label(form.city, 'City') }}
                    {{ form_errors(form.city) }}
                    {{ form_widget(form.city, {'attr': {'class': 'form-control', 'placeholder': 'Gotham' }}) }}
                </div>
                <div class="col-xs-3">
                    {{ form_label(form.state, 'State') }}
                    {{ form_errors(form.state) }}
                    {{ form_widget(form.state, {'attr': {'class': 'form-control', 'placeholder': 'MA' }}) }}
                </div>
                <div class="col-xs-3">
                    {{ form_label(form.zip, 'Zip') }}
                    {{ form_errors(form.zip) }}
                    {{ form_widget(form.zip, {'attr': {'class': 'form-control', 'placeholder': '02155' }}) }}
                </div>
            </div>
            <br>

            <p>{{ form_widget(form.Save, {'attr': {'class': 'btn btn-primary' }}) }}</p>
            {{ form_end(form) }}
        </div>
        <div class="col-md-8">
            <h3>Lookup an existing apartment</h3>
            <p>If one of your roommates already registered your apartment, you can search for it below.</p>
            <p><a class="btn btn-primary" href="{{ path('apartment_lookup') }}">Lookup Apartments</a></p>
            <hr>
            <h4>*Why do I have to create a PIN?</h4>
            The Roommate PIN is a simple passcode which you can give to your roommates to authenticate them with your apartment. This is just so that random strangers can't join your apartment and look at your expenses.
        </div>
    </div>
{% endblock %}

