{% extends "DominickRoommateBundle::layout.html.twig" %}

{% block title "Browse Expenses" %}

{% block content_header '' %}

{% block content %}
    <div class="row">
        <div class="col-md-9">
            <h3>Lookup Expenses</h3>

            <p>Check out the history of expenses for your apartment.</p>
            {% if expenses is defined %}
                <table class="table table-bordered table-hover table table-condensed">
                    <tr>
                        <th>Roommate</th>
                        <th>Description</th>
                        <th class="text-right">Total Paid</th>
                        <th class="text-right">Roommate Cost</th>
                        <th>Date</th>
                        <th>Edit</th>
                    </tr>
                    {#{% for user in users %}{{ user.getFullname() }}{% endfor %}#}
                    {% for expense in expenses %}
                        <tr id="{{ expense.token }}">
                            <td>{{ expense.getUser().getFullname() }}</td>
                            <td>{{ expense.description }} <span class="label expensetype label-{{ expense.type }}">{{ expense.type }}</span></td>
                            <td class="text-right">$ {{ expense.cost|number_format(2, '.', ',') }}</td>
                            <td class="text-right">$ {{ expense.perRoommateCost|number_format(2, '.', ',') }}</td>
                            <td>{{ expense.created|date('Y-m-d') }}</td>
                            <td>
                                <a class="btn btn-primary btn-xs" href="{{ path('expense_edit', {'id':expense.id}) }}"><span class="glyphicon glyphicon-pencil"></span></a>
                                <a class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></a>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td class="text-right" colspan=2"><strong>Expense Totals</strong></td>
                        <td class="text-right">$ {{ totals.cost|number_format(2, '.', ',') }}</td>
                        <td class="text-right">$ {{ totals.roommateCost|number_format(2, '.', ',') }}</td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            {% else %}
                <em>No expense history found for this apartment.</em>
            {% endif %}
        </div>
        <div class="col-md-3">
            <h3>Need to add a new expense?</h3>

            <p>No worries. Click the button below to go add a new one.

            <p><a class="btn btn-primary" href="{{ path('expense_new') }}">Create a new expense</a></p>
        </div>
    </div>
{% endblock %}

